<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/react@latest/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@latest/dist/react-dom.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
</head>
<body>
<div id="root"></div>
<script type="text/babel">
    ReactDOM.render(
            React.DOM.h1({id : "id_property"},"React.DOM.h1(null,childNode)중 null 매게변수는 DOM의 property입니다. 두번째 매게변수는 childNode로 원하는만 큼 중첩가능합니다"),
            document.getElementById('root')
    );
</script>
</body>
</html>