<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ol>
      <li><a href="/example1">1.헬로월드</a></li>
      <li><a href="/example2">1.ReactDom의 매게변수들</a></li>
      <li><a href="/example3">1.ReactDom의 매개변수들 다양한 테스트</a> </li>
      <li><a href="/example4">2.컴포넌트생성 및 컴포넌트 팩토리</a> </li>
      <li><a href="/example5">2.Component의 Property</a> </li>
      <li><a href="/example6">2.Component의 선택적Property,필수Property</a> </li>
      <li><a href="/example7">2.상태 저장 텍스트 영역 컴포넌트</a> </li>
      <li><a href="/example8">2.Component의 선택적Property,필수Property</a> </li>
    </ol>
  </body>
</html>
