<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ol>
      <li><a href="/example1">헬로월드</a></li>
      <li><a href="/example2">ReactDom의 매게변수들</a></li>
      <li><a href="/example3">ReactDom의 매개변수들 다양한 테스트</a> </li>
    </ol>
  </body>
</html>
